.button {
  border: 0;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-scale-beige); 
  background-color: var(--color-scale-green-4);
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-scale-gray) !important;
}

.button:hover {
  background-color: var(--color-scale-green-3);
}