.resultMain {
  width: 80vw;
}

.no_results {
  color: var(--color-scale-black); 
}

h3 {
  font-size: medium;
}

.titleSearch {
  margin: auto;
}

.results {
  height: 60vh;
  overflow: auto;
}

.searchBar {
  width: 60%;
}
