.summary {
  font-size: large;
  text-align: justify;
  width: 80vw;
  padding: 0 30px;
}

.summary a {
  color: var(--color-scale-beige);
}

.summary a:hover {
  color: blue;
  text-decoration: underline;
}
