.recipe {
  cursor: pointer;
}

.recipe a {
  color: var(--color-scale-black);
}

.recipe + .recipe {
  margin-top: 20px;
}

.recipe:hover {
  background-color: var(--color-scale-green-3);
}

.recipe:hover a {
  color: var(--color-scale-beige);
}

.image {
  height: 150px;
}
