:root {
  --color-scale-white: #fff;
  --color-scale-black: #000;
  --color-scale-beige: #f5f5dc;
  --color-scale-gray: #c0c0c0;
  --color-scale-green-0: #c9ffe5;
  --color-scale-green-1: #98fb98;
  --color-scale-green-2: #32cd32;
  --color-scale-green-2-bis: rgb(1, 65, 1);
  --color-scale-green-3: #006400;
  --color-scale-green-4: #004d00;
  --color-scale-green-5: #003a00;

  --color-scale-success: #5cb85c;
  --color-scale-warning: #f0ad4e;
  --color-scale-error: #d9534f;
  --color-scale-info: #5bc0de;
}

main {
  text-align: center;
  height: 100%;
  display: flex;
  background-color: var(--color-scale-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-scale-beige);
}

html {
  background-color: var(--color-scale-white);
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: var(--color-scale-beige);
}

h1 {
  font-size: xx-large;
}

h3 {
  font-size: medium;
}

.label {
  font-size: x-large;
  color: #000;
}
