:root {
  --color-scale-white: #fff; 
  --color-scale-black: #000; 
  --color-scale-beige: #F5F5DC; 
  --color-scale-gray: #C0C0C0; 
  --color-scale-green-0: #C9FFE5;
  --color-scale-green-1: #98FB98 ;
  --color-scale-green-2: #32CD32;
  --color-scale-green-3: #006400;
  --color-scale-green-4: #004D00 ;
}

main {
  text-align: center;
  height: 100%;
  display: flex;
  background-color: var(--color-scale-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-scale-beige);
}

html {
  background-color: var(--color-scale-white);
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: var(--color-scale-beige);
}

h1 {
  font-size: xx-large;
}

.label {
  font-size: x-large;
  color: #000;
}